* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 30px;
    margin-left: 30px;
}

.jumbotron {
    text-align: center;
}

.firstimg {
    margin-top: 3%;
    margin-left: 4%;
    width: 70%;
}

.secondimg {
    margin-top: 3%;
    width: 70%;
}

.iamfirst {
    padding-top: 20%;
    margin-left: 2%;
}

.iamsecond {
    padding-top: 12%;
    margin-left: 4%;
    margin-top: 3%;
}

.row>.col-sm-12 {
    text-align: center;
}

.footer {
    margin-top: 2%;
    background-color: rgba(37, 2, 14, 0.671);
    padding-bottom: 2%;
    color: #fff;
}

.card-1 {
    text-align: center;
}